body {
    background-color: pink;
    font-family: cursive;
}

.cuadro {
    width: 750px;
    height: 500px;
    margin: 50px auto;
    border: 3px solid black;
    background-color: rgb(255, 223, 228);
}

.h1 {
    font-size: 50px;
}

.bt1 {
    display: none;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.bt2 {
    display: none;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.secret {
    font-size: 0px;
    opacity: 0.1;
    background-color: red;
    border: 0px rgb(255, 232, 235);
}