body {
    background-color: blue;
}

.p {
    font-size: 20px;
    font-family: fantasy;
}

.titulo {
    color: rgb(219, 41, 210);
}

.boton {
    background-color: rgb(219, 41, 210);
    color: blue;
    border: 4px solid black;
    border-radius: 20px;
    font-size: 25px;
}