body {
    background-color: rgb(0, 89, 197);
}

.bt1 {
    background-color: rgb(89, 212, 41);
    color: yellow;
    font-size: 19px;
    border:2px solid black;
}

.bt2 {
    background-color: rgb(229, 32, 25);
    color: rgb(255, 255, 217);
    font-size: 19px;
    border:2px solid black;
}